<VirtualHost *:{{ http_port }}>
   ServerAdmin webmaster@localhost
   ServerName {{ http_host }}
   ServerAlias www.{{ http_host }}
   DocumentRoot {{ www_dir }}/vhosts/{{ http_host }}
   ErrorLog {{ log_dir }}/apache2/{{ http_host }}-error.log
   CustomLog {{ log_dir }}/apache2/{{ http_host }}access.log combined

   <Directory "{{ www_dir }}/vhosts/{{ http_host }}">
        Options Indexes FollowSymLinks

        AllowOverride None
        <IfModule !mod_access_compat.c>
            Require all granted
        </IfModule>
        <IfModule mod_access_compat.c>
            Order allow,deny
            Allow from all
        </IfModule>

    </Directory>

</VirtualHost>
